:root {
  /* fonts */
  --primary-font: "Montserrat", sans-serif;

  /* colors */
  --dark: #041014;
  --red: #c7170c;
  --green: #06e23b;
  --gray: #b3bab5;
  --white: #f7ebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 20px;
}

/* main section */
main {
  padding-top: 50px;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

/* buttons */
button {
  background: transparent;
  color: var(--white);
  border: none;
  display: inline-block;
  margin: 1em 0.3em;
  width: 100px;
  height: auto;
  cursor: pointer;
}

button p {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white);
}

label {
  display: block;
}

/* sliders */
.slider {
  height: 42px;
  border: 2px solid var(--red);
  border-radius: 50px;
  margin: 1em 0;
}

.thumb {
  background: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.green {
  border: 2px solid var(--green);
}

.green .thumb {
  background: var(--green);
}

/* go-back button */
.buttonBack {
  color: var(--white);
  text-align: center;
}

.buttonBack p {
  font-size: 24px;
  font-weight: 700;
}
