:root {
  /* fonts */
  --primary-font: "Montserrat", sans-serif;

  /* colors */
  --dark-blue: #030125;
  --light-purple: #46458c;
  --pink: #e8a9a9;
  --light-pink: #f4d3d3;
  --red: #d71313;
  --green: #116530;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  font-family: var(--primary-font);
  color: var(--light-pink);
}

main {
  padding-top: 50px;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background: transparent;
  color: var(--light-pink);
  border: none;
  display: inline-block;
  width: 100%;
  margin: 1em 0.3em;
  max-width: 100px;
  cursor: pointer;
}

label {
  display: block;
}

.slider {
  height: 42px;
  border: 2px solid var(--red);
  border-radius: 20px;
  margin: 1em 0;
}

.thumb {
  background: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.green {
  border: 2px solid var(--green);
}

.green .thumb {
  background: var(--green);
}
